* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  color: var(--main-color);
  font-family: var(--primary-font);
  font-size: 16px;
  @include for-mobile-only {
    font-size: 14px;
  }
}

a {
  color: currentColor;
  text-decoration: none;
  display: inline-block;
}

ul,
fieldset {
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

.fixed-btn{
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  z-index: 9999;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 10px;
}

.fixed-btn-right{
  right: 10px;
}

.fixed-btn-left{
  left: 10px;
}